div(class= blockName)
	p.product-sub= blockNameRu
	a.scroll.scroll-left(href='')
	a.scroll.scroll-right(href='')
	.container-elements
		ul.elements-scrollable
			li
				img(src="/images/good.png")
				p.goodName text 1
			li
				img(src="/images/good.png")
				p.goodName text 2
			li
				img(src="/images/good.png")
				p.goodName text 3
			li
				img(src="/images/good.png")
				p.goodName text4
			li
				img(src="/images/good.png")
				p.goodName text5
			li
				img(src="/images/good.png")
				p.goodName text6
			li
				img(src="/images/good.png")
				p.goodName text7
			li
				img(src="/images/good.png")
				p.goodName text8
			li
				img(src="/images/good.png")
				p.goodName text9
			li
				img(src="/images/good.png")
				p.goodName text10 
			li
				img(src="/images/good.png")
				p.goodName text11
			li
				img(src="/images/good.png")
				p.goodName text12