extends layout
block content
	form(class='login' method='post' action='/log-in')  
		.field 
			label(for='login') Login
			input#login(name='login' type='text')
		.field 
			label(for='password') Password
			input#password(name='password' type='text')
		.field		
			button(type='submit') Log In
			a(href='/register') Register

	.catalog#catalog
		ul
		


	.contacts
		ul
			li: a(href="/") Телефон: +7 910 795 57 53
			li: a(href="/") E-mail: St.Cremer@mail.ru
			li: a(href="/") Адресс: Нижний Новгород, мещерский бульвар 5
	.other
		ul
			li: a(href="/") Форум
			li: a(href="/") Вопросы
			li: a(href="/") Еще ссыль