doctype
head
	//- meta(name='theme-color' content='#000')
	meta(charset= 'utf-8')
	link(rel='stylesheet', href='/stylesheets/reset.css')
	link(rel='stylesheet', href='/stylesheets/styles2.css')
	script(async src='/js/AquaRiverStyle.js')
	title= name+"|AquaRiver.ru"

body
	#name.name 
		a(href= "/") AquaRiver.ru

	block content

	script(src='/js/Eventen.js')
