extends layout
block content
	p новый товар
	form(method='post' action='/new-product')
		.field 
			label(for='productName') наименование продукта
			input#productName(name='productName' type='text')
		
		.field 
			label(for='pageUrl') Url продукта
			input#pageUrl(name='pageUrl' type='text')
		.field 
			label(for='price') Цена
			input#price(name='price' type='number')
		.field 
			label(for='description') описание товара
			textarea#description(name='description' type='text')
		.field 
			label(for='avaluable-on-store') доступность на складе
			input#avaluable-on-store(name='avaluable-on-store' type='checkbox' value='true' checked)
		button(type='submit') добавить


