extends layout
block content
	.wrapper-product-page
		a.productLink(href= '/')= productName
		.descr_imges
			.description
				p= "описание"+ description
				p= "цена:" + price	
			.images
				img.main-img(src="/images/preset-img.png")
				.sets-of-icons
					a.scroll.scroll-up(href='')
					ul(id="icons-container")
						li: a(href="")
								img.presetImgItem(src="/images/good1.png")
						li: a(href="")
								img.presetImgItem(src="/images/good2.png")
						li: a(href="")
								img.presetImgItem(src="/images/good3.png")
						li: a(href="")
								img.presetImgItem(src="/images/good4.png")
						li: a(href="")
								img.presetImgItem(src="/images/good5.png")
						li: a(href="")
								img.presetImgItem(src="/images/good6.png")
						li: a(href="")
								img.presetImgItem(src="/images/good7.png")
						li: a(href="")
								img.presetImgItem(src="/images/good8.png")
						li: a(href="")
								img.presetImgItem(src="/images/good9.png")
						li: a(href="")
								img.presetImgItem(src="/images/good10.png")
					a.scroll.scroll-down(href='')
		.subsisidries
			p.product-sub Сопутствующие товары
			a.scroll.scroll-left(href='')
			a.scroll.scroll-right(href='')
			.container-elements
				ul.elements-scrollable
					li
						img(src="/images/good.png")
						p.goodName text 1
					li
						img(src="/images/good.png")
						p.goodName text 2
					li
						img(src="/images/good.png")
						p.goodName text 3
					li
						img(src="/images/good.png")
						p.goodName text4
					li
						img(src="/images/good.png")
						p.goodName text5
					li
						img(src="/images/good.png")
						p.goodName text6
					li
						img(src="/images/good.png")
						p.goodName text7
					li
						img(src="/images/good.png")
						p.goodName text8
					li
						img(src="/images/good.png")
						p.goodName text9
					li
						img(src="/images/good.png")
						p.goodName text10 
					li
						img(src="/images/good.png")
						p.goodName text11
					li
						img(src="/images/good.png")
						p.goodName text12

		.substitutes
			p.product-sub Сопутствующие товары
			a.scroll.scroll-left(href='')
			a.scroll.scroll-right(href='')
			.container-elements
				ul.elements-scrollable
					li
						img(src="/images/good.png")
						p.goodName text 1
					li
						img(src="/images/good.png")
						p.goodName text 2
					li
						img(src="/images/good.png")
						p.goodName text 3
					li
						img(src="/images/good.png")
						p.goodName text4
					li
						img(src="/images/good.png")
						p.goodName text5
					li
						img(src="/images/good.png")
						p.goodName text6
					li
						img(src="/images/good.png")
						p.goodName text7
					li
						img(src="/images/good.png")
						p.goodName text8
					li
						img(src="/images/good.png")
						p.goodName text9
					li
						img(src="/images/good.png")
						p.goodName text10 
					li
						img(src="/images/good.png")
						p.goodName text11
					li
						img(src="/images/good.png")
						p.goodName text12
						
