extends layout
block content
	p Регистрация нового пользователя
	form(method='post' action='/register')
		.field
			label(for='name') Name
			input#name(name='name' type='text' size='15')
		.field 
			label(for='login') Login
			input#login(name='login' type='text' size='30')
		.field 
			label(for='password') Password
			input#password(name='password' type='password' size='30')
		.field
			label(for='e-mail') E-mail
			input#e-mail(name='e-mail' type='email' size='30')
		.field		
			button(type='submit') Register