F_F(vn,root,NoF,fw,fs)
 @font-face {font-family: vn;
 src: url('../fonts/' root NoF'.eot');
 src: url('../fonts/' root NoF'.eot?#iefix') format('embedded-opentype'),
 url('../fonts/' root NoF'.woff') format('woff'),
 url('../fonts/' root NoF'.ttf') format('truetype'); font-weight:fw; font-style:fs; }

bg(value)
 background value


//_____________________Gotham_Pro

F_F('Gotham-Pro','Gothampro-master/GothamPro/',GothamPro,normal,normal)
F_F('GothamProNarrow-Medium','Gothampro-master/GothamProNarrow-Medium/',GothamProNarrow-Medium,normal,normal)
F_F('GothamProNarrow-Bold','Gothampro-master/GothamProNarrow-Bold/',GothamProNarrow-Bold,normal,normal)
F_F('GothamPro-Bold','Gothampro-master/GothamPro-Bold/',GothamPro-Bold,normal,normal)

//________________________________________________________________________________________________________
p,a,li,label,input
 font-family GothamProNarrow-Medium

$rcolr = #fff

//rgb(82, 82, 82);
//#9E9C9C

$chov = #9E9C9C
//__________________LOGIN
.field
 text-align left


input
 color $rcolr
 background none
 outline none
 border none
 border-bottom 1px solid $rcolr
 margin 0px
 padding 0px

p,h1,h2,h3
 color $rcolr

ul
 margin 0
 padding 0

label
 color $rcolr

html
 margin 0
 padding 0
 min-height 100%

$i= url("../images/fish-bottom.png") no-repeat 65% 70%, url("../images/verLine.png") repeat-y 3% 0%,url("../images/verLine.png") repeat-y 8% 0%,url("../images/verLine.png") repeat-y 11% 0%,url("../images/verLine.png") repeat-y 16% 0%,url("../images/verLine.png") repeat-y 19% 0%,url("../images/verLine.png") repeat-y 24% 0%,url("../images/verLine.png") repeat-y 27% 0%,url("../images/verLine.png") repeat-y 32% 0%,url("../images/verLine.png") repeat-y 35% 0%,url("../images/verLine.png") repeat-y 40% 0%,url("../images/verLine.png") repeat-y 43% 0%,url("../images/verLine.png") repeat-y 48% 0%,url("../images/verLine.png") repeat-y 51% 0%,url("../images/verLine.png") repeat-y 56% 0%,url("../images/verLine.png") repeat-y 59% 0%,url("../images/verLine.png") repeat-y 64% 0%,url("../images/verLine.png") repeat-y 67% 0%,url("../images/verLine.png") repeat-y 72% 0%,url("../images/verLine.png") repeat-y 75% 0%,url("../images/verLine.png") repeat-y 80% 0%,url("../images/verLine.png") repeat-y 83% 0%,url("../images/verLine.png") repeat-y 88% 0%,url("../images/verLine.png") repeat-y 91% 0%,url("../images/verLine.png") repeat-y 96% 0%,url("../images/fish-top.png") no-repeat 15% 7%,url("../images/horLine.png") repeat-x 0% 30.51px,url("../images/horLine.png") repeat-x 0% 81.36px,url("../images/horLine.png") repeat-x 0% 101.7px,url("../images/horLine.png") repeat-x 0% 152.55px

for num in 1..33
 $start=101.7px
 $start2=152.55px
 $dist=101.7px + 71.19px * num
 $dist2=152.7px + 71.19px * num
 $i= $i,url("../images/horLine.png") repeat-x 0% ($dist)
 $i= $i,url("../images/horLine.png") repeat-x 0% ($dist2)
 
$i= $i,#000 url("../images/green-f.png") no-repeat right 110%



body
 font-size: 108%;
 margin 0
 padding 0
 height 100%
 background $i


li
 color $rcolr
 list-style none
 text-decoration none
a
 text-decoration none
 color $rcolr

li a
 display block

ul li
 position relative

.catalog li ul
 top -2%
 width 100%
 visibility hidden
 position absolute
 left 0%
 opacity o
 transition visibility 0.7s 1s ease-out 

.catalog li ul li
 visibility hidden

 
.catalog li:hover>a
 color $chov

.catalog li:hover
 width 108%

.catalog li:hover>ul
 opacity 1
 left 100%
 transition left ease-out 0.3s 0.5s, visibility ease-out 0.7s 0.5s, opacity ease-out 0.7s 0.65s

.catalog li.lvl1:hover>ul li.lvl2:nth-child(2)
  transition visibility ease-out 0.7s 0.5s
  visibility visible

.catalog li.lvl2:hover>ul li.lvl3:nth-child(2)
  transition visibility ease-out 0.7s 0.5s
  visibility visible

for num in 3..9
 step=0.03
 int=0.7
 int2=0.5
 ttime=int+step*(num - 2)
 $tdel=ttime + int2
 .catalog li.lvl1:hover>ul li.lvl2:nth-child({num})
  transition visibility ease-out (ttime)s ($tdel)s
  visibility visible


for num in 3..9
 step=0.03
 int=0.7
 int2=0.5
 ttime=int+step*(num - 2)
 $tdel=ttime + int2
 .catalog li.lvl2:hover>ul li.lvl3:nth-child({num})
  transition visibility ease-out (ttime)s ($tdel)s
  visibility visible




.other,.contacts,.catalog
 border-left 7px solid $rcolr
 padding-left: 2.8%;

//___________________________login
.login
 font-family GothamPro-Bold
 position: absolute;
 width: 13.8%
 margin-left: 82.9%
 margin-top: 4.7%;

.login .field
 margin-bottom: 0.5%;

.login input
 float right
 width 57%
//___________________________contacts
.contacts
 margin-left 47.8%
 position: absolute;
 margin-top: 11.6%;
 //__________________________catalog
.catalog
 margin-left 7.8%
 position: absolute;
 margin-top: 20.7%;

.lvl1
 font-size 1.4em
 margin-bottom: 0.1em
.lvl1:last-of-type
 margin-bottom 0
 //__________________________other
.other
 position: absolute;
 margin-left 39.8%
 margin-top: 40.9%;
 
 //__________________________name
.name
 position: absolute;
 top: 32%;
 left: -5.6%;
 transform: rotate(-90deg);

.name p, .name a
 font-family GothamPro-Bold
 margin 0
 padding 0

//___________________________azdrfvzdfv

.categoryLevel1
 position: absolute;
 margin-left: 11%;
 margin-top: 12.8%;

.categoryLink
 font-size 20px

.categoryLinkLvl2
 font-size 20px

.categoryLinkLvl3
 margin-left: 7.3%;
 

.elements
 margin-left: 7.3%;
 margin-top: 1%;
//display flex

.elements li
 display inline-block
 margin-right: 4%

.categoryList
 margin-left: 10.3%;
 margin-top: 6.9%;
//margin-top: 5.5%;

.goodName
 position: relative;
 margin-top: -17px;
 text-align: right;
 color #000

.subcategory
 margin-top 5%
//___________________________azdrfvzdfv

//____________________________product-page
.wrapper-product-page
 position absolute
 margin-left: 27%;
 bg rgba(255, 0, 0, 0.18);

//.main-img
//margin-top 17px
//display inline-block

.presetImgItem
 width 100px


.images
 display: flex;
 justify-content: space-between;

.sets-of-icons
 display inline-block
 height: 282px;
 overflow: hidden;

.description
 width: 50%;


.descr_imges
 margin-top: 0.5%;
 display: flex;
 justify-content space-between

.scroll-up
 display block
 bg url("../images/up-good-img.png")
 height: 21px;
 width: 70px;
 position: absolute;
 top: 37px;  
 

.scroll-down
 display block
 bg url("../images/down-good-img1.png")
 height: 21px;
 width: 70px;
 position: absolute;
 top: 49.7%; 
 
.scroll-down:hover
 background-position-y 20px

.scroll-up:hover
 background-position-y 20px

#icons-container
 position relative
 top 0px
 transition top cubic-bezier(.31,.03,.99,.28) 0.3s 0.05s

#icons-container li:last-of-type 
 margin-bottom none

.scroll-left
 display block
 bg url("../images/scroll-left.png")
 height: 70px;
 width: 20px;
 position: absolute;
 left: -58px;

.scroll-right
 display block
 bg url("../images/scroll-right.png")
 height: 70px;
 width: 20px;
 position: absolute;
 left 40px
 
.elements-scrollable
 position: relative;
 display flex
 left 0
 transition left cubic-bezier(.31,.03,.99,.28) 0.3s 0.05s

.elements-scrollable li
 display inline-block
 margin-right: 4%

.container-elements
 overflow: hidden;
 margin-right: 4.7%;

.product-sub
 margin-bottom 1.5%
 margin-top: 2%;
 
.subsidearies
 margin-top: 4%;